  .fb, .lkd, .tweet
{
width: 125px;
padding: 15px;
display:inline;
margin:10px;
}

.share_button
{
margin-top:50px;
}

.fb
{
background-color: #3B5998 !important;
}

.lkd
{
background-color: #007FB1 !important;
}
